table {
    background-color: lightgreen;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h2 {color: black;
      background-color: lightgreen;}

  
@media screen and (max-width: 600px) {
    table {
    background: grey;
    }
  }